/* body{
    margin: 10px;
    border: 1px solid blue;
    background-color: aqua;
} */
.success{
    background-color: green;
    width: 500px;
    height: 500px;
}
.failure{
    background-color: red;
    width: 500px;
    height: 500px;
}
/* Dark Theme Styles */
.dark-theme {
    background-color: #121212;
    color: #ffffff;
}
.check{
    background-color: aquamarine;
}
.check2{
    background-color: bisque;
}
.check3{
    background-color: black;
    color: #ffffff;
}
.check4{
    background-color: black;
    color: #ffffff;
}

