.items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #f0f8ff;
    align-content: start;
    justify-content: center;
    border: 1px solid;
    margin: 10px;
    min-width: 150px;
    min-height: 200px; 
    border-radius: 20px;
    /* width: clamp(120px,30vw,300px); */
}